<manifest package="me.aheadlcx.health"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity android:name=".ui.health.HealthNewsListAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.health.detail.HealthNewsDetailActivity"></activity>
    </application>

</manifest>
